body {
  font-family: sans-serif;
  margin: 0;
  background: #000;
  color: white;
}

header {
  text-align: center;
  padding: 10px;
}

header img {
  width: 80px;
}

#cards {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

.cardSlot {
  background: #111;
  padding: 8px;
  border-radius: 10px;
}

.row {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}

.cell {
  background: #222;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  user-select: none;
}

.cell.selected {
  background: gold;
  color: black;
}

.cell.free {
  background: red;
  color: white;
  font-weight: bold;
}
